html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// my code:
body {
    background: url('/images/bg.png');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        background-position: 40% 0%;
    }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #463f1b;
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8DA2780; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F8DA27; 
}
